[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
crayons = "*"
halo = "*"
python-dotenv = "*"

[dev-packages]
django = "*"
ujson = "*"

[requires]
python_version = "3.6"
